CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_PREFIX_DIR="/opt/x-tools/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
# CT_LOG_TO_FILE is not set
CT_ARCH_ARM=y
CT_ARCH_64=y
CT_TARGET_VENDOR="mono"
CT_TARGET_ALIAS="arm-linux"
CT_KERNEL_LINUX=y
CT_LINUX_SRC_DEVEL=y
CT_LINUX_DEVEL_URL="https://github.com/nxp-qoriq/linux.git"
CT_LINUX_DEVEL_BRANCH="lf-6.6.23-2.0.0"
CT_GLIBC_SSP_STRONG=y
# CT_CC_GCC_STATIC_LIBSTDCXX is not set
CT_CC_GCC_LIBSSP=y
